/*ss重置样式  */
body,div,i,a,p,span,b,input,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dd,dt,textarea,img{margin:0;padding:0;}
body{font-family: microsoft yahei;color:#333;}
i,b,em{font-style: normal;}
a{text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
img{vertical-align:top;width: 100%;}
input,textarea,select,textarea,img,a{resize: none;outline: none;border: none;}
li{list-style: none}
h1,h2,h3,h4,h5,h6,{font-weight: normal;}
.clearfix:after{content: '';display: block;height:0;clear: both;font-size:0;*zoom:1}
@font-face {
            font-family: NotoSansHans-Regular;
            src: url("fonts/NotoSansHans-Regular.otf");
        }

#index{width: 100%;height: 100%;}
.header{position: relative;}
.header .cover{position: absolute;top:0;}
.header .back{width:5%;position: absolute;top: 4%;left: 3%;}
.header .h1{font-family: arial;color:#5272f9;text-transform: uppercase;font-weight: 600;font-size: 30px;letter-spacing: 3px;position: absolute;top: 20%;left: 3%;}
.header .h2{    font-family: arial;color: #999999;text-transform: uppercase;font-size: 12px;letter-spacing: 3px;position: absolute;top: 31%;left: 3%;}
.header .touxian{width:30%;position: absolute;top: 42%;left: 3%;}
#file{position: absolute;top: 70%;left: 3%;width: 20%;}
.header .job img{width: 15px;}
.header .job{font-size: 12px;height: 15px;line-height: 15px;position: absolute;left: 36%;top:65%;}
.header .message{width:100%;margin: 0 auto;position: absolute;top: 77%;left:50%;margin-left: -50%;}
.header .message .l{width: 33%;text-align: center;float: left;}
.header .message h2{font-family:"NotoSansHans-Regular";font-size: 14px;color: #5272F9;margin-bottom: 6px;}
.header .message em{font-family: "微软雅黑";font-size: 18px;width: 30%;font-weight:600 ;padding-top: 2%;}
.main{position: relative;}
.main h2{font-family: "NotoSansHans-Regular";font-size: 18px;color: #5272F9;position: absolute;top: 5%;left: 3%;font-weight:bolder ;}
.main .schedule{position:absolute;top:40%;width: 100%;}
.main .schedule .r{width: 50%;text-align: center;float: left;}
.main .schedule .r img{width: 24%;margin-bottom: 10%;}
.main .schedule .r .myNote{line-height: 32px;}
.main .schedule .r .myNote a{font-family: "NotoSansHans-Regular";font-size: 12px;color: #333333;border: 2px solid;width: 52%;border-radius: 10px;padding: 10px 30px;}

#index .nav{position: fixed;height:48px;z-index: 99;background-color: #FFFFFF;}
#index .nav tm{position: absolute;top: 28%;left: 3%;width: 18px;}
#index .nav h2{font-size: 18px;font-family: arial;color: #000000;text-align: center;line-height: 48px;text-transform: capitalize;}
#index .list{height: 110px;padding-top: 1px;position: relative;background-color: #FFFFFF;z-index: 99;}
#index .list .list_inner{width:94%;height:90px;position: absolute;left:0px;top:0px;right:0px;bottom:0px;margin:auto; border-bottom: 1px solid #e5e5e5; }
#index .list .list_inner .xiaotouxiang{width: 16%;}
#index .list .list_inner .from{position: absolute;top: -2%;left: 19%;font-size: 12px;color: #c9c9c9;}
#index .list .list_inner .bt{position: absolute;top: 32%;left: 19%;font-size: 14px;color: #000000;}
#index .list .list_inner .time{position: absolute;top: 60%;left: 19%;font-size: 12px;color: #c9c9c9;}
section{z-index: 99;}
.btn-primary{position: absolute;top: 63%;}
.user_pic{position: absolute;top: 39%;width: 30%;left: 1%;}
.avatar-form{width: 100%;}
.modal-dialog{margin:0; ! important}
.modal-content{border-radius: none;}
